body {
  background-color: #00000;
}

div input {
  background-color: pink;
  color: grey;
}
@keyframes animar {
  from {background-color: red;width: 20px}
  to {background-color: yellow;width: 200px}
}

input{
  //animation-name: animar;
  //animation-duration: 5s;
}
